# Ignore cache files

./cache/nnet/CornerNet
./cache/nnet/CenterNet-52
./cache/nnet/CenterNet-104

# Ignore coco's annotations and datasets

./coco/annotations
./coco/images
#./CenterNet/data/coco/annotations
#./CenterNet/data/coco/images
#./CornerNet/data/coco/annotations
#./CornerNet/data/coco/images
CenterNet
CornerNet

# Ignore __pycache__

*__pycache__.*
__pycache__/
